src/core/*.o
src/osx/*.o
src/osx/*.a
src/osx/*.dylib
src/osx/opencapture
src/osx/test/*.o
src/osx/test/*.dylib
src/osx/test/opencapture_test
src/linux/*.o
src/linux/*.so
src/linux/*.a
src/linux/opencapture
builders/qmake/*.o
builders/qmake/*.so
builders/qmake/*.dylib
builders/qmake/*.dll
builders/qmake/*.a
builders/qmake/opencapture
builders/qmake/Makefile